// reset:
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
a,
button,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
input {
  border: none;
  background: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

// font-family:
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// main  styles:
body {
  font-family: "Montserrat", sans-serif;
}

.header {
  //header
  padding-top: 20px;
  padding-bottom: 57px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__left-section {
    width: calc(206px + 371px + 92px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 206px;
    height: 80px;
    background-image: url(../../imgs/logo.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__breacker {
    width: 2px;
    height: 80px;
    background-image: url(../../imgs/breacker.svg);
    background-position: center;
    background-size: cover;
  }

  &__text {
    width: 371px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #24173d;
  }

  &__right-section {
    display: flex;
    align-items: center;
  }

  &__phone-icon {
    width: 20px;
    height: 20px;
    background-image: url(../../imgs/phone-icon.svg);
    background-position: center;
    background-size: cover;
  }

  &__phone {
    padding-left: 10px;
    padding-right: 50px;
  }

  &__button {
    background: #ffc633;
    border-radius: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    padding: 12.5px 45.5px;
    cursor: pointer;
  }
}

.content {
  //main
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.contact-us {
  //contact us
  background-image: url(../../imgs/contact-us-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text-block {
    max-width: 655px;
    padding-top: 93px;
    padding-bottom: 234px;
  }

  &__title {
    height: 154px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span:first-of-type {
      font-style: normal;
      font-weight: 800;
      font-size: 67px;
      line-height: 70px;
      text-transform: uppercase;
      color: #ffffff;
    }
    span {
      font-style: normal;
      font-weight: 300;
      font-size: 29px;
      line-height: 70px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }

  &__breacker {
    width: calc(462 / 655) * 100%;
    height: 2px;
    background-image: url(../../imgs/contact-us-breacker.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px auto;
  }

  &__title-paragraph {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #ffffff;
  }

  &__paragraph {
    padding-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
    span {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: #f6bf33;
    }
  }

  &__extra-paragraph {
    padding-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #f6bf33;
  }

  &__form {
    padding: 50px;
    max-width: 890px;
    background-color: #ffc633;
    margin-left: 76px;
    box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 90px;

    &-title {
      font-style: normal;
      font-weight: 800;
      font-size: 87px;
      line-height: 106px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #24173d;
    }

    &-subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 29px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #24173d;
    }

    &-subsubtitle {
      padding-top: 10px;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ffffff;
    }
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
  }

  &__input {
    padding: 20px;
    width: 41%;
    max-width: 385px;
    background: #ffffff;
    border-radius: 5px;
  }

  &__button {
    padding: 21.5px 36.5px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #24173d;
    box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
    border-radius: 43px;
    cursor: pointer;
  }
}

.benefits {
  max-width: 1780px;
  margin: 0 auto;
  padding-top: 43px;
  padding-bottom: 90px;

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    color: #24173d;
  }

  &__cards {
    padding: 60px 90px 0 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 94px;
  }

  &__card-item {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;

    &_bitcoin {
      background-image: url(../../imgs/bitcoin-icon.svg);
    }

    &_list {
      background-image: url(../../imgs/list-icon.svg);
    }

    &_hose {
      background-image: url(../../imgs/hose-sale-icon.svg);
    }

    &_invest {
      background-image: url(../../imgs/invest-icon.svg);
    }

    &_visa {
      background-image: url(../../imgs/visa-icon.svg);
    }

    &_credit {
      background-image: url(../../imgs/credit-icon.svg);
    }
  }

  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #24173d;
    padding-left: 40px;
  }
}

.property-types {
  padding-top: 44px;

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
  }

  &__cards {
    width: 100%;
    padding-top: 59px;
    display: flex;
    flex-direction: column;
  }

  &__grid-upper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__grid-lower {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__card-item {
    padding-bottom: 31px;
    padding-top: 291px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;

    &.studio {
      background-image: url(../../imgs/studio-img.jpg);
    }
    &.apartament {
      background-image: url(../../imgs/apartament-img.jpg);
    }
    &.penthouse {
      background-image: url(../../imgs/penthouse-img.jpg);
    }
    &.townhouse {
      background-image: url(../../imgs/townhouse-img.jpg);
    }
    &.villa {
      background-image: url(../../imgs/villa-img.jpg);
    }
  }

  &__img-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  &__img-button {
    margin-top: 20px;
    background: #fac86e;
    box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
    border-radius: 30px;
    padding: 10px 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #24173d;
    cursor: pointer;
  }
}

.data {
  padding-top: 128px;
  padding-bottom: 88px;
  display: flex;

  &__lefl {
    width: 50%;
    display: inline-flex;
    align-items: center;
  }

  &__right {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    background: #ffc633;
    border-radius: 30px 0px 0px 30px;
  }

  &__title {
    max-width: 662px;
    display: inline-block;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 77px;
    text-transform: uppercase;
    color: #24173d;
    padding-left: 30px;
    border-left: 5px solid #24173d;
    margin-left: 148px;
  }

  &__column {
    padding: 50px 57px 50px 50px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);

    &-text {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      max-width: 183px;

      &:nth-of-type(2) {
        font-weight: 800;
        font-size: 70px;
        line-height: 85px;
        text-align: center;
        text-transform: uppercase;
        color: #24173d;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        margin: 20px 0;
        span {
          font-style: normal;
          font-weight: 800;
          font-size: 30px;
          line-height: 37px;
          color: #24173d;
        }
      }
    }
  }
}

.consultation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 90px 0;
  background-image: url(../../imgs/consultation-background.jpg);
  background-position: center;
  background-size: cover;

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
  }

  &__form {
    padding-top: 60px;
  }

  &__input {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #383838;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    width: 385px;

    &:nth-of-type(2) {
      margin-left: 20px;
    }
  }

  &__button {
    background: #ffc633;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #24173d;
    padding: 17.5px 0;
    width: 250px;
    cursor: pointer;
    margin-left: 20px;
  }
}

.footer {
  &__logo {
    width: 206px;
    height: 80px;
    margin: 70px auto 40px auto;
    background-image: url(../../imgs/footer-logo.png);
    background-position: center;
    background-size: cover;
  }

  &__underline {
    background-color: rgba(230, 229, 234, 0.15);
    // opacity: 0.15;
    padding: 15px 0;
  }

  &__text {
    font-family: "Century Gothic", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4a4a4a;
    a {
      text-decoration-line: underline;
      color: #f8b500;
    }
  }
}
